<div [ngClass]="setClasses()">
  <p>
    <input
      (change)="onToggle(todo)"
      type="checkbox"
      id="{{ todo.id }}"
      [checked]="todo.completed"
    />
    <label for="{{ todo.id }}">
      {{ todo.title }}
    </label>
    <input  
      (focusout)="onEdit(todo)" 
      (focus)="onMakeInputEditable(todo)"
      type="text"
      id="{{ todo.id }}"
      [(ngModel)]="todo.title" 
      [readonly]="todo.readonly"
    />
    <button (click)="todo.readonly = !todo.readonly">edit todo</button>
    <button (click)="onDelete(todo)" class="del">X</button>
  </p>
</div>
