<div [ngClass]="setClasses()">
  <p>
    <input
      (change)="onToggle(todo)"
      type="checkbox"
      id="{{ todo.id }}"
      [checked]="todo.completed"
    />
 
    <input  
      (focusout)="onEdit(todo)" 
      (focus)="onToggleReadOnly(todo)"
      type="text"
      id="{{ todo.id }}"
      [(ngModel)]="todo.title" 
      [readonly]="todo.readonly"
      [ngClass]="setClasses()"
      class="todo-input-field"
    />
    <button (click)="onDelete(todo)" class="del">X</button>
  </p>
</div>

